.no-cssremunit html,
.no-cssremunit body{
  font-size:16px;
  min-width:1024px;
}
 
.no-cssremunit #menu{
  width:30%;
}

.no-cssremunit h2{
  font-size:22px;
}

.no-cssremunit #pageIndex{
  right:20px;
  bottom:20px;
  font-size:16px;
}


/*menutrigger*/
.no-cssremunit #menuTrigger{
  padding:20px;
}

.no-cssremunit #menuTrigger span{
  width:30px;
  height:5px;
  margin-bottom:4px;
}



.no-cssremunit #warning .title{
  line-height:60px;
}

.no-cssremunit #nav .item{
  min-height:60px;
}

.no-cssremunit #nav .title{
  line-height:60px;
}

.no-cssremunit #nav .content p{
  padding-bottom:10px;
}

.no-cssremunit #social{
  padding:13.125% 13.125% 10px;
}

.no-cssremunit #social li{
  width:30px;
  height:30px;
  margin-right:15px;
  border-radius:30px;
}

.no-cssremunit .typeface .typefaceWrapper{
  display:table-cell;
  vertical-align:middle;
  position:relative;
}

.no-cssremunit .typeface.up,
.no-cssremunit .typeface.down{
  display:none;
}

.no-cssremunit .typeface .svgAni{
 margin:0 auto 80px auto;
}

.no-cssremunit .logo.typeface{
  padding:200px 28%;
  position:relative;
}


.no-cssremunit .logo.typeface a.info{
  bottom:120px;
  font-size:16px;
}

.no-cssremunit .logo .info .svgWrapper{
  width:50px;
  height:30px;
  margin:10px auto 0;
}


.no-cssremunit .typeface .designer,.typeface .download{
  font-size:16px;
  width:auto;
}


.no-cssremunit .typeface .download{
  font-size:16px;
}



/*info*/
.no-cssremunit #info{
bottom:0;
  height:40px;
}

.no-cssremunit #info p{
  height:40px;
  line-height:40px;
}




.no-cssremunit #pageIndex{
  right:40px;
  bottom:34px;
}

  .no-cssremunit #menuTrigger{
    cursor:pointer;
    padding:40px;
  }

  .no-cssremunit #menu .item .title,
  .no-cssremunit #social li{
    cursor:pointer;
  }

  .no-cssremunit #menuTrigger span{
    background:rgba(255,255,255,0.618);
  }
  

  .no-cssremunit #headerLogo{
    display:block;
    position:absolute;
    height:30px;
    width:200px;
    left:40px;
    top:44px;
  }


  .no-cssremunit .typeface{
    font-size:16px;
  }


  .no-cssremunit .typeface .textWrapper{
    position:absolute;
    box-sizing:border-box;
    bottom:0;
  }

.no-cssremunit .typeface.center p{
  width:auto;
  margin-left:auto;
}
  .no-cssremunit .typeface p,
  .no-cssremunit .typeface .designer,
  .no-cssremunit .typeface .download{
    display:inline-block;
    vertical-align:top;
  }

  .no-cssremunit .typeface .download{
    margin-top:0;
  }

  .no-cssremunit .logo.typeface a.info{
    position:relative;
    bottom:auto;
    font-size:56px;
  }

  .no-cssremunit .logo.typeface .typefaceWrapper{
    display:table-cell;
    vertical-align:middle;
  }

  .no-cssremunit .typeface.center,
  .no-cssremunit .typeface.center .textWrapper{
    text-align:left;
  }

  .no-cssremunit .typeface.right,
  .no-cssremunit .typeface.right .textWrapper{
    text-align:left;
  }


  .no-cssremunit .typeface .svgAni{
    margin:0 auto;
  }



  .no-cssremunit .typeface .download{
    border:none;
    padding:0;
  }

   .no-cssremunit .typeface .textWrapper{
    padding:0 40px 20px 40px;

  }


.no-cssremunit #headerLogo{
  left:50px;
  top:50px;
}

.no-cssremunit #menuTrigger{
  padding:50px;
}

.no-cssremunit #pageIndex{
  right:50px;
  bottom:40px;
}

  .no-cssremunit .typeface{
    padding:0 32%;
  }

  .no-cssremunit .logo.typeface{
    padding:0 38%;
  }

    .no-cssremunit .logo.typeface a.info{
    width:416.67%;
    left:-158.335%;
    font-size:40px;
    margin-top:40px;
  }


  .no-cssremunit .typeface .textWrapper{
    padding:0 50px 30px 50px;
  }

  .no-cssremunit .typeface .textWrapper{
    width: 278%;
    left: -88.9%;
  }

 .no-cssremunit .typeface .designer{
    margin-right:40px;
  }















.no-cssremunit .logo.typeface{
  padding:0 40%;
}
  .no-cssremunit .logo.typeface a.info{
    width:500%;
    left:-200%;
  }












